/* General Reset */
body, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0;
}

.header {
    background-color: #333;
    overflow: hidden;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: white;
}

.nav {
    float: right;
    
}

nav ul li {
    list-style: none;
    display: inline;
}

nav ul li a{
    color: white;
    font-size: 18px;
    margin-right: 10px;
    text-decoration: none;
    line-height: 40px;
}

.content {
    display: flex;
    margin-top: 10px;
}

.sidebar {
    width: 25%;
    padding: 15px;
    background-color: antiquewhite;
    box-sizing: border-box;
   
}
aside ul li{
    list-style-type: none;
    
}

.main-content {
    width: 75%;
    box-sizing: border-box;
    margin-left: 15px;
    background-color: azure;
}
.main-content h1, p {
    margin-left: 10px;
}

.footer {
    text-align: center;
    background-color: gray;
    color: white;
}
